.contenedor{

    background-color: rgb(221, 207, 207);
    padding: 10px;
    margin: 50px;
    

}
.encabezado{

    height:40px;
    background-color: rgb(78, 75, 73);

}

.contenedorItems {

  background-color: rgb(47, 50, 51);

}
.Items{

    background-color: white;
    margin-top:25px;
    font-size:30px;
    padding:40px;
    border-radius:12px;
}


.ContactosI{

    background-color: white;
    margin-top:10px;
    font-size:14px;
    padding:20px;
    display:flex;
    border-radius:12px;
}


.ContactosI > div{


    padding:4px;
    margin-left: 30px;
}