<div class="contenedor">

    <div class="encabezado"><h3>Juancho Contacts</h3></div>
    <br><br>
    <div style="float: right; margin-right:5px;"><img src="../../../assets/Imagenes/AddUser.png" width="50px" heigth="50px" routerLink="/crear"></div>
    <br>
    <div class="contenedorItems">
   <div class="Items">
        <div>Total Contacts</div>
        <div><h1>{{this.Largo}}</h1></div>
        <div class="LogoBig"><img src="../../../assets/Imagenes/cuenta.png" width="50px" heigth="50px" routerLink="/Contactos"></div>
    </div>
    
    <div class="Items">
    <div>Hoy cumplen:</div><div><h6>{{ListadoCumple}}</h6></div>
   
    <div class="LogoBig"><img src="../../../assets/Imagenes/Cumple.png" width="50px" heigth="50px" routerLink="/Contactos"></div>
    </div>
    <div class="Items"><div>Mis contactos</div>
    <div class="LogoBig"><img src="../../../assets/Imagenes/contactos.png" width="50px" heigth="50px" routerLink="/Contactos"></div>
    </div>
    </div>
    </div>

